.mobileMenuContainer {
    display: none;
}

.menuToggle {
    background: none;
    color: var(--color-text-primary);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    padding: .5rem;
    cursor: pointer;
    margin-left: 0.25rem;
}

.menuToggle:hover {
    border-color: var(--color-border-hover);
}

.menuOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-bg-rgba-primary);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 99;
}

.menuOverlayMenuContainer {
    position: fixed;
    top: 3.5rem;
    right: 0;
    left: 0;
    background: var(--color-bg-primary);
    border: 1px solid var(--color-border);
    border-radius: .75rem;
    box-shadow: var(--shadow-md);
    margin: 0.5rem .25rem;
    z-index: 100;
    padding: 1.5rem 1rem;
}

.mobileNavList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mobileNavItem {
    font-size: var( --font-size-lg);
    list-style: none;
}

.mobileNavItem a:hover {
    color: var(--color-link-primary-hover);
}

.activeLink {
    color: var(--color-link-primary);
}

/***** MEDIA QUERIES *****/
@media (max-width: 768px) {
    .mobileMenuContainer {
        display: block;
    }
}