.primaryNav {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    border: 1px solid #DCDCDC;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.navList {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
}

.navItem {
    list-style: none;
}

@media (max-width: 960px) and (orientation: landscape) {
    .primaryNav {
        padding: 0 1rem;
        background: rgba(255, 255, 255, 0.85);
    }

    .navList {
        gap: 1rem;
        font-size: 0.9rem;
    }
}