.activitiesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    row-gap: 0;
    column-gap: 1rem;
}

@media (max-width: 960px) {
    .activitiesContainer {
        grid-template-columns: 1fr;
    }
}