.homePageContainer {
    display: grid;
    grid-template-columns: 1.25fr 1fr;

}

.homePageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homePageForecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobileHeading {
    display: none;
}

/***** MEDIA QUERIES *****/
@media (max-width: 960px) {
    .homePageContainer {
        grid-template-columns: 1fr;
        margin-bottom: 0
    }

    .homePageContent {
        margin-bottom: 4rem;
    }
}

@media (max-width: 768px) {
    .mobileHeading {
        display: block;
        margin-right: 1.5rem;
    }
}