.homePageContent {
    margin: 4rem 0;
}

.row {
    margin: 1.75rem 0;
}

.mobileHeading {
    display: none;
}

.homeActivities {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/***** MEDIA QUERIES *****/
@media (max-width: 960px) {
    .homePageContent {
        margin: 2rem 0 4rem 0;
    }
    .homeActivities {
        gap: 0;
    }
}

@media (max-width: 768px) {
    .mobileHeading {
        display: block;
        margin-right: 1.5rem;
    }
}