.header {
    background-color: var(--color-bg-primary);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.homeHeaderNavContainer {
    position: fixed;
    top: .5rem;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 1rem;
}

.homeHeaderTitle {
    color:  var(--color-text-tertiary);
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.homeHeaderTitle p {
    font-size: var(--font-size-xs);
    color:  var(--color-text-primary);
    letter-spacing: var(--letter-spacing-wide);
    line-height: var(--line-height-none);
    margin-bottom: 0.25rem;
}

/***** MEDIA QUERIES *****/
@media (max-width: 960px) {
    .header {
        min-height: 50vh;
    }
}

@media (max-width: 768px) {
    .homeHeaderNavContainer {
        padding: 0 .75rem;
    }
}