.weatherCard {
    background: var(--color-bg-card);
    border: 1px solid var(--color-border);
    border-radius: 1rem;
    color: var(--color-text-secondary);
    padding: 1rem;
}

.weatherCardTitle {
    color: var(--color-text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherCardTitle h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-normal);
    margin: 0;
}

.weatherForecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherTemp {
    color: var(--color-text-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.weatherTemp p {
    color: var(--color-text-primary);
    font-size: 3rem;
    font-weight: 300;
    margin: 0;
}

.weatherCondition {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 1.5rem 0;
}

.range {
    display: flex;
    justify-content: end;
    gap: 0.75rem;
}

.weatherCondition p {
    color: var(--color-text-primary);
    margin: 0;
}

.forecastDays {
    display: flex;
    justify-content: space-between;
}

.forecastDay {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25rem;
}

.forecastDay p {
    font-weight: 500;
    margin: 0.25rem 0;
}

/***** MEDIA QUERIES *****/
@media (max-width: 960px) {
    .weatherTemp p {
        font-size: 2.75rem;
    }

    .weatherCondition {
        margin: 1rem 0;
    }
}

@media (max-width: 768px) {
    .weatherCard {
        border-radius: .75rem;
        padding: 0.75rem;
    }

    .weatherTemp p {
        font-size: 2.5rem;
    }

    .weatherCondition {
        margin: 0.75rem 0;
    }
}

@media (max-width: 480px) {
    .weatherTemp p {
        font-size: 2rem;
    }

    .weatherCondition {
        margin: 0.25rem 0;
    }

    .weatherCondition p {
        font-size: var(--font-size-sm);
    }

    .range p span {
        font-size: 0.875rem;
    }

    .forecastDay p {
        font-size: 0.875rem;
    }
}