.gridContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    grid-template-areas:
       "left-col right-col";
}

.leftGrid {
    grid-column: 1 / -1;
    grid-area: left-col;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightGrid {
    grid-area: right-col;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/***** MEDIA QUERIES *****/
@media (max-width: 960px) {
    .gridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "left-col"
            "right-col";
        gap: 0;
    }
}