.mainLayoutContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.blogPostHeader {
    background-color: var(--color-bg-primary);
    padding: .5rem 0;
    position: relative;
}

.headerNavContainer {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 1rem;
}

@media (max-width: 960px) {
    .headerNavContainer {
        width: 100%;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .headerNavContainer {
        padding: 0 .75rem;
    }
}