.btn {
    color: inherit;
    padding: 0.75rem 1.5rem;
    font-family: inherit;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: inherit;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


.primary {
    background: var(--color-bg-btn-primary);
    color: var(--color-text-btn-primary);
    border: 1px solid var(--color-border-btn-primary);
}

.primary:hover {
    background: var(--color-bg-btn-primary-hover);
    border-color: var(--color-bg-btn-primary-hover);
}

